body {
  margin: 2em;
  font-family: helvetica, arial, sans-serif;
  background-color: #32373e;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#topBtnTimer {
  display: flex;
  justify-content: flex-start;
}
#timer {
  background: white;
  color: red;
  width: 55px;
  height: 40px;
  align-self: center;
  margin: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  text-align: center;
  font-size: 35px;
}

#startBtn {
  background: transparent;
  background-image: url("https://cdn.glitch.global/5317ded2-c469-4eca-81d2-f56d35452a4d/besgwghrewg.png?v=1648164683294");
  background-size: cover;
  height: 75px;
  width: 80px;
  border-radius: 200px;
}
#stopBtn {
  background: transparent;
  background-image: url("https://cdn.glitch.global/5317ded2-c469-4eca-81d2-f56d35452a4d/image-removebg-preview%20(1)best.png?v=1648164573545");
  background-size: cover;
  height: 75px;
  width: 80px;
  border-radius: 200px;
}

#gameButtonArea > button {
  width: 175px;
  height: 275px;
  margin: 8px;
  font-size: 75px;
  vertical-align: middle;
  color: white;
  display: inline-block;
}

.hidden {
  display: none;
}

#Btn1 {
  background-image: url("https://cdn.glitch.global/5317ded2-c469-4eca-81d2-f56d35452a4d/back_of_playcard11.jpg?v=1648159749793");
  background-size: cover;
}

#Btn1:active,
#Btn1.lit {
  background: green;
}

#Btn2 {
  background-image: url("https://cdn.glitch.global/5317ded2-c469-4eca-81d2-f56d35452a4d/back_of_playcard11.jpg?v=1648159749793");
  background-size: cover;
}
#Btn2:active,
#Btn2.lit {
  background: darkblue;
}

#Btn3 {
  background-image: url("https://cdn.glitch.global/5317ded2-c469-4eca-81d2-f56d35452a4d/back_of_playcard11.jpg?v=1648159749793");
  background-size: cover;
}
#Btn3:active,
#Btn3.lit {
  background: darkred;
}

#Btn4 {
  background-image: url("https://cdn.glitch.global/5317ded2-c469-4eca-81d2-f56d35452a4d/back_of_playcard11.jpg?v=1648159749793");
  background-size: cover;
}
#Btn4:active,
#Btn4.lit {
  background: gold;
}

#Btn5 {
  background-image: url("https://cdn.glitch.global/5317ded2-c469-4eca-81d2-f56d35452a4d/back_of_playcard11.jpg?v=1648159749793");
  background-size: cover;
}
#Btn5:active,
#Btn5.lit {
  background: aqua;
}

#Btn6 {
  background-image: url("https://cdn.glitch.global/5317ded2-c469-4eca-81d2-f56d35452a4d/back_of_playcard11.jpg?v=1648159749793");
  background-size: cover;
}
#Btn6:active,
#Btn6.lit {
  background: blueviolet;
}

#Btn7 {
  background-image: url("https://cdn.glitch.global/5317ded2-c469-4eca-81d2-f56d35452a4d/back_of_playcard11.jpg?v=1648159749793");
  background-size: cover;
}
#Btn7:active,
#Btn7.lit {
  background: magenta;
}

#Btn8 {
  background-image: url("https://cdn.glitch.global/5317ded2-c469-4eca-81d2-f56d35452a4d/back_of_playcard11.jpg?v=1648159749793");
  background-size: cover;
}
#Btn8:active,
#Btn8.lit {
  background: lime;
}